h1 {
	font-style:helvetica;
	font-weight:bold;
	font-size: 48px;
}
p.Beer {
	background-color:orange;
}
p.Bev {
	background-color:Dodgerblue;
	font-style:times new roman;
}
body {
	background-color: grey;
	padding:20px;
	background-image:url(Blue_Sky.jpg);
}
img {
	border:2px solid;
	border-radius:25px;
	margin-left:4%;
}
table {
	margin-left:5%;
}
ul {
	margin-left:3.3%;
#Milwaukee {
	font-size:24px;
}
footer {
	text-align: center;
	display: inline-block;
}