h1 {
	font-style:helvetica;
	font-weight:bold;
	font-size: 48px;
}
#Milwaukee {
	font-style: italic;
}
a {
	/* unvisited link */
    color: red;
}

/* visited link */
a {
    color: green;
}
p.Beer {
	background-color:orange;
}
p.Bev {
	background-color:blue;
	font-style:times;
}
footer {
	text-align: center;
	padding-left:50px;
}
body {
	background-color: grey;
	padding:20px;
}
img {
	border:2px solid;
	border-radius:25px;
	margin-left:4%;
}
table {
	margin-left:5%;
	background-image:url(Blue_Sky.jpg);
}
ul {
	margin-left:3.3%;
}
@media screen and (max-width:500px) {
  body {
    background-color:lightgreen;
  }
}